:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: light dark;
  color: rgb(202, 223, 255);
  background-color: #37373d;
  margin: 0.1em;
  padding: 15px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 900;
  font-size: larger;
  text-decoration: inherit;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #877bc9;
  margin: 0.5em;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover {
  border-color: #ffffff;
}



h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #877bc9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}